flow.json
[{"id":"4a86c698.78f808","type":"tab","label":"Contagion Models","disabled":false,"info":""},{"id":"9de5bd35.7f56f8","type":"tab","label":"Interventions","disabled":false,"info":""},{"id":"bc3df119.f0f01","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e2daa046.3861d","type":"ui_tab","z":"","name":"Contagion Models","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"bc8bf77.21e2e08","type":"ui_group","z":"","name":"Model 1","tab":"e2daa046.3861d","order":1,"disp":false,"width":"8","collapse":false},{"id":"694feb9a.34f9a4","type":"ui_group","z":"","name":"Model 2","tab":"e2daa046.3861d","order":2,"disp":false,"width":"8","collapse":false},{"id":"efa41cad.1f3d5","type":"ui_tab","z":"","name":"Interventions","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"f69ea373.653fd","type":"ui_group","z":"","name":"Model","tab":"efa41cad.1f3d5","order":1,"disp":false,"width":"8","collapse":false},{"id":"dcc96b0d.cc15c","type":"ui_group","z":"","name":"Interventions","tab":"efa41cad.1f3d5","order":2,"disp":true,"width":"9","collapse":false},{"id":"34ab0e35.7d33fa","type":"ui_dropdown","z":"4a86c698.78f808","name":"type 1","label":"Model #1","tooltip":"","place":"Select model","group":"bc8bf77.21e2e08","order":1,"width":"4","height":"1","passthru":true,"multiple":false,"options":[{"label":"","value":"SIR","type":"str"},{"label":"","value":"SEIR","type":"str"},{"label":"","value":"SIRD","type":"str"},{"label":"","value":"SEIRD","type":"str"}],"payload":"","topic":"","x":90,"y":60,"wires":[["9259b3f6.c1bf3"]]},{"id":"7fe28bc1.09b2bc","type":"ui_dropdown","z":"4a86c698.78f808","name":"type 2","label":"Model #2","tooltip":"","place":"Select model","group":"694feb9a.34f9a4","order":1,"width":"4","height":"1","passthru":true,"multiple":false,"options":[{"label":"","value":"SIR","type":"str"},{"label":"","value":"SEIR","type":"str"},{"label":"","value":"SIRD","type":"str"},{"label":"","value":"SEIRD","type":"str"}],"payload":"","topic":"","x":90,"y":300,"wires":[["bd6cf5cf.76d2c"]]},{"id":"876affd5.9d3fa","type":"ui_form","z":"4a86c698.78f808","name":"parameters 1","label":"","group":"bc8bf77.21e2e08","order":4,"width":0,"height":0,"options":[{"label":"Basic reproduction number (R0)","value":"R0","type":"number","required":true,"rows":null},{"label":"Incubation period (days)","value":"I","type":"number","required":false,"rows":null},{"label":"Contageous period (days)","value":"D","type":"number","required":true,"rows":null},{"label":"Treatment period (days)","value":"H","type":"number","required":false,"rows":null},{"label":"Fatality rate","value":"alpha","type":"number","required":false,"rows":null}],"formValue":{"R0":"","I":"","D":"","H":"","alpha":""},"payload":"","submit":"run","cancel":"clear","topic":"","x":110,"y":160,"wires":[["2239711a.a7913e"]]},{"id":"ef47e1da.256d1","type":"ui_chart","z":"4a86c698.78f808","name":"chart 1","group":"bc8bf77.21e2e08","order":3,"width":"8","height":"8","label":"","chartType":"line","legend":"true","xformat":" ","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"2000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff9896","#d62728","#aec7e8","#9467bd","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":160,"wires":[[]]},{"id":"94668f39.044f9","type":"ui_text_input","z":"4a86c698.78f808","name":"duration 1","label":"Duration (days, default 90)","tooltip":"","group":"bc8bf77.21e2e08","order":2,"width":"4","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":420,"y":60,"wires":[["bb82636a.53d0b"]]},{"id":"9259b3f6.c1bf3","type":"change","z":"4a86c698.78f808","name":"","rules":[{"t":"set","p":"type1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":60,"wires":[[]]},{"id":"bb82636a.53d0b","type":"change","z":"4a86c698.78f808","name":"","rules":[{"t":"set","p":"duration1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":60,"wires":[[]]},{"id":"d23506c.e2c1d78","type":"ui_toast","z":"4a86c698.78f808","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"dialog","x":430,"y":520,"wires":[[]]},{"id":"ec387198.aa0d9","type":"catch","z":"4a86c698.78f808","name":"param error","scope":["e1f234b4.3341b","b3735df1.f76fe8","32abfce7.78fc84","aa8e4fa2.3d9b38","92209dd5.54d068","16683988.9f5186","483fab88.15925c","73e44ebe.068ec"],"uncaught":false,"x":110,"y":520,"wires":[["2f3cc93d.b8221e"]]},{"id":"2f3cc93d.b8221e","type":"change","z":"4a86c698.78f808","name":"error message","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":520,"wires":[["d23506c.e2c1d78"]]},{"id":"bd6cf5cf.76d2c","type":"change","z":"4a86c698.78f808","name":"","rules":[{"t":"set","p":"type2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":300,"wires":[[]]},{"id":"2239711a.a7913e","type":"switch","z":"4a86c698.78f808","name":"type","property":"type1","propertyType":"flow","rules":[{"t":"eq","v":"SIR","vt":"str"},{"t":"eq","v":"SEIR","vt":"str"},{"t":"eq","v":"SIRD","vt":"str"},{"t":"eq","v":"SEIRD","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":250,"y":160,"wires":[["e1f234b4.3341b"],["b3735df1.f76fe8"],["aa8e4fa2.3d9b38"],["32abfce7.78fc84"]]},{"id":"e1f234b4.3341b","type":"function","z":"4a86c698.78f808","name":"sir model","func":"let R0    = msg.payload.R0    // basic reproduction number\nlet D     = msg.payload.D     // contagious period (days)\nif (D <= 0) {node.error(\"Contagious period must be greater than zero\",msg);return null}\nlet tmax  = flow.get('duration1') || 90   // calculation period (days)\nlet dt = 0.1 // computation step (days)\nlet gamma = 1 / D\nlet beta = R0 * gamma\nlet x = []\nx[0] = {\"t\":0, \"s\":0.999, \"i\":0.001, \"r\":0} // initial values\nfor (t = 1; t <= tmax; t++) { // point per day\n// calculate x[t]\n    st = x[t-1].s\n    it = x[t-1].i\n    rt = x[t-1].r\n    for (k = 0; k < 1 / dt; k++) { // default = 10 steps per day\n        ds = - (beta * it * st) * dt\n        di = (beta * it * st - gamma * it) * dt\n        dr = gamma * it * dt\n        st = st + ds\n        it = it + di\n        rt = rt + dr\n    }\n    x[t] = {\"t\":t,\"s\":st, \"i\":it, \"r\":rt}\n}\nmsg.payload = x\nreturn msg","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["75299edd.04e58"]]},{"id":"75299edd.04e58","type":"function","z":"4a86c698.78f808","name":"sir chart prep","func":"let x = msg.payload\nlet t = []\nlet s = []\nlet i = []\nlet r = []\nlet n = []\n\nfor (j = 0; j < x.length; j++) {\nt[j] = x[j].t\ns[j] = x[j].s\ni[j] = x[j].i\nr[j] = x[j].r\n}\n\nmsg.payload = [{\n    \"series\": [\"susceptible\", \"exposed\", \"infectious\", \"recovered\", \"deceased\" ],\n    \"data\": [s, n, i, r, n],\n    \"labels\": t\n}]\nnode.send([]) // clear chart\nreturn msg\n","outputs":1,"noerr":0,"x":590,"y":100,"wires":[["ef47e1da.256d1"]]},{"id":"fe1e3bd6.d1ef38","type":"function","z":"4a86c698.78f808","name":"seir chart prep","func":"let x = msg.payload\nlet t = []\nlet s = []\nlet e = []\nlet i = []\nlet r = []\nlet n = []\n\nfor (j = 0; j < x.length; j++) {\nt[j] = x[j].t\ns[j] = x[j].s\ne[j] = x[j].e\ni[j] = x[j].i\nr[j] = x[j].r\n}\n\nmsg.payload = [{\n    \"series\": [\"susceptible\", \"exposed\", \"infectious\", \"recovered\", \"deceased\" ],\n    \"data\": [s, e, i, r, n],\n    \"labels\": t\n}]\nnode.send([]) // clear chart\nreturn msg\n","outputs":1,"noerr":0,"x":600,"y":140,"wires":[["ef47e1da.256d1"]]},{"id":"b3735df1.f76fe8","type":"function","z":"4a86c698.78f808","name":"seir model","func":"let R0    = msg.payload.R0    // basic reproduction number\nlet D     = msg.payload.D     // contagious period (days)\nlet I     = msg.payload.I     // incubation period (days)\nif (D <= 0) {node.error(\"Contagious period must be greater than zero\",msg);return null}\n// if (D === 0) {node.error(\"Contagious period cannot be zero\",msg)}\nif (I <= 0) {node.error(\"Incubation period must be greater than zero\",msg);return null}\n//if (I === 0) {node.error(\"Incubation period cannot be zero\",msg)}\nlet tmax  = flow.get('duration1') || 90   // calculation period (days)\n// let tmax = msg.payload.tmax   // calculation period (days)\nlet dt = 0.1 // days\n// if (D === 0) {node.error(\"Contagious period cannot be zero\",msg)}\nlet gamma = 1 / D\n// f (I === 0) {node.error(\"Incubation period cannot be zero\",msg)}\nlet delta = 1 / I\nlet beta = R0 * gamma\nlet x = []\nx[0] = {\"t\":0, \"s\":0.999, \"e\":0, \"i\":0.001, \"r\":0} // initial values\nfor (t = 1; t <= tmax; t++) { // point per day\n// calculate x[t]\n    st = x[t-1].s\n    et = x[t-1].e\n    it = x[t-1].i\n    rt = x[t-1].r\n    for (k = 0; k < 1 / dt; k++) { // default = 10 steps per day\n        ds = - (beta * it * st) * dt\n        de = (beta * it * st - delta * et) * dt\n        di = (delta * et - gamma * it) * dt\n        dr = gamma * it * dt\n        st = st + ds\n        it = it + di\n        et = et + de\n        rt = rt + dr\n    }\n    x[t] = {\"t\":t,\"s\":st, \"e\":et, \"i\":it, \"r\":rt}\n}\nmsg.payload = x\nreturn msg\n","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["fe1e3bd6.d1ef38"]]},{"id":"ea8739ae.597bc","type":"ui_text_input","z":"4a86c698.78f808","name":"duration 2","label":"Duration (days, default 90)","tooltip":"","group":"694feb9a.34f9a4","order":2,"width":"4","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":420,"y":300,"wires":[["25536c27.468cf4"]]},{"id":"25536c27.468cf4","type":"change","z":"4a86c698.78f808","name":"","rules":[{"t":"set","p":"duration2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":300,"wires":[[]]},{"id":"21428ccf.e0462c","type":"ui_chart","z":"4a86c698.78f808","name":"chart 2","group":"694feb9a.34f9a4","order":3,"width":"8","height":"8","label":"","chartType":"line","legend":"true","xformat":" ","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"2000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff9896","#d62728","#aec7e8","#9467bd","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":400,"wires":[[]]},{"id":"32abfce7.78fc84","type":"function","z":"4a86c698.78f808","name":"seird model","func":"let R0    = msg.payload.R0    // basic reproduction number\nlet D     = msg.payload.D     // contagious period (days)\nlet I     = msg.payload.I     // incubation period (days)\nlet H     = msg.payload.H     // treatment time (days)\nlet alpha = msg.payload.alpha // fatality rate\nlet tmax  = flow.get('duration1') || 90   // calculation period (days)\nlet dt = 0.1 // days\nif (D <= 0) {node.error(\"Contagious period must be greater than zero\",msg);return null}\nlet gamma = 1 / D\nif (I <= 0) {node.error(\"Incubation period must be greater than zero\",msg);return null}\nlet delta = 1 / I\nlet beta = R0 * gamma\nif (H === 0) {node.error(\"Treatment time cannot be zero\",msg)}\nlet rho = 1 / H\nlet x = []\nx[0] = {\"t\":0, \"s\":0.999, \"e\":0, \"i\":0.001, \"r\":0, \"d\":0} // initial values\nfor (t = 1; t <= tmax; t++) { // point per day\n// calculate x[t]\n    st  = x[t-1].s\n    et  = x[t-1].e\n    it  = x[t-1].i\n    rt  = x[t-1].r\n    d_t = x[t-1].d\n    for (k = 0; k < 1 / dt; k++) { // default = 10 steps per day\n        ds = - (beta * it * st) * dt\n        de = (beta * it * st - delta * et) * dt\n        di = (delta * et - (1 - alpha) * gamma * it - alpha * rho * it) * dt\n        dr = (1 - alpha) * gamma * it * dt\n        dd = (alpha * rho * it) * dt\n        st = st + ds\n        it = it + di\n        et = et + de\n        rt = rt + dr\n        d_t = d_t + dd\n    }\n    x[t] = {\"t\":t,\"s\":st, \"e\":et, \"i\":it, \"r\":rt, \"d\":d_t}\n}\nmsg.payload = x\nreturn msg\n","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["4371f72f.1f5fd"]]},{"id":"aa8e4fa2.3d9b38","type":"function","z":"4a86c698.78f808","name":"sird model","func":"let R0    = msg.payload.R0    // basic reproduction number\nlet D     = msg.payload.D     // contagious period (days)\nlet H     = msg.payload.H     // treatment time (days)\nlet alpha = msg.payload.alpha // fatality rate\nlet tmax  = flow.get('duration1') || 90   // calculation period (days)\nlet dt = 0.1 // computation step (days)\nif (D <= 0) {node.error(\"Contagious period must be greater than zero\",msg);return null}\nlet gamma = 1 / D\nif (H <= 0) {node.error(\"Treatment time must be greater than zero\",msg);return null}\nlet rho = 1 / H\nlet beta = R0 * gamma\nlet x = []\nx[0] = {\"t\":0, \"s\":0.999, \"i\":0.001, \"r\":0, \"d\":0} // ini_tial values\nfor (t = 1; t <= tmax; t++) { // point per day\n// calculate x[t]\n    s_t = x[t-1].s\n    i_t = x[t-1].i\n    r_t = x[t-1].r\n    d_t = x[t-1].d\n    for (k = 0; k < 1 / dt; k++) { // default = 10 s_teps per day\n        ds = - (beta * i_t * s_t) * dt\n        di = ((beta * i_t * s_t) - ((1 - alpha) * gamma * i_t) - (alpha * rho * i_t)) * dt\n        dr = ((1 - alpha) * gamma * i_t) * dt\n        dd = (alpha * rho * i_t) * dt\n        s_t = s_t + ds\n        i_t = i_t + di\n        r_t = r_t + dr\n        d_t = d_t + dd\n    }\n    x[t] = {\"t\":t,\"s\":s_t, \"i\":i_t, \"r\":r_t, \"d\":d_t}\n}\nmsg.payload = x\nreturn msg","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["5e1b0095.3f59c"]]},{"id":"4371f72f.1f5fd","type":"function","z":"4a86c698.78f808","name":"seird chart prep","func":"let x = msg.payload\nlet t = []\nlet s = []\nlet e = []\nlet i = []\nlet r = []\nlet d = []\n\nfor (j = 0; j < x.length; j++) {\nt[j] = x[j].t\ns[j] = x[j].s\ne[j] = x[j].e\ni[j] = x[j].i\nr[j] = x[j].r\nd[j] = x[j].d\n}\n\nmsg.payload = [{\n    \"series\": [\"susceptible\", \"exposed\", \"infectious\", \"recovered\", \"deceased\" ],\n    \"data\": [s, e, i, r, d],\n    \"labels\": t\n}]\n\nreturn msg\n","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["ef47e1da.256d1"]]},{"id":"5e1b0095.3f59c","type":"function","z":"4a86c698.78f808","name":"sird chart prep","func":"let x = msg.payload\nlet t = []\nlet s = []\nlet i = []\nlet r = []\nlet d = []\nlet n = []\n\nfor (j = 0; j < x.length; j++) {\nt[j] = x[j].t\ns[j] = x[j].s\ni[j] = x[j].i\nr[j] = x[j].r\nd[j] = x[j].d\n}\n\nmsg.payload = [{\n    \"series\": [\"susceptible\", \"exposed\", \"infectious\", \"recovered\", \"deceased\" ],\n    \"data\": [s, n, i, r, d],\n    \"labels\": t\n}]\nnode.send([]) // clear chart\nreturn msg\n","outputs":1,"noerr":0,"x":600,"y":180,"wires":[["ef47e1da.256d1"]]},{"id":"2bb2caab.b16bae","type":"ui_form","z":"4a86c698.78f808","name":"parameters 2","label":"","group":"694feb9a.34f9a4","order":4,"width":0,"height":0,"options":[{"label":"Basic reproduction number (R0)","value":"R0","type":"number","required":true,"rows":null},{"label":"Incubation period (days)","value":"I","type":"number","required":false,"rows":null},{"label":"Contageous period (days)","value":"D","type":"number","required":true,"rows":null},{"label":"Treatment period (days)","value":"H","type":"number","required":false,"rows":null},{"label":"Fatality rate","value":"alpha","type":"number","required":false,"rows":null}],"formValue":{"R0":"","I":"","D":"","H":"","alpha":""},"payload":"","submit":"run","cancel":"clear","topic":"","x":110,"y":400,"wires":[["b2eaba6e.8bb9c8"]]},{"id":"b2eaba6e.8bb9c8","type":"switch","z":"4a86c698.78f808","name":"type","property":"type2","propertyType":"flow","rules":[{"t":"eq","v":"SIR","vt":"str"},{"t":"eq","v":"SEIR","vt":"str"},{"t":"eq","v":"SIRD","vt":"str"},{"t":"eq","v":"SEIRD","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":250,"y":400,"wires":[["92209dd5.54d068"],["16683988.9f5186"],["483fab88.15925c"],["73e44ebe.068ec"]]},{"id":"92209dd5.54d068","type":"function","z":"4a86c698.78f808","name":"sir model","func":"let R0    = msg.payload.R0    // basic reproduction number\nlet D     = msg.payload.D     // contagious period (days)\nif (D <= 0) {node.error(\"Contagious period must be greater than zero\",msg);return null}\nlet tmax  = flow.get('duration2') || 90   // calculation period (days)\nlet dt = 0.1 // computation step (days)\nlet gamma = 1 / D\nlet beta = R0 * gamma\nlet x = []\nx[0] = {\"t\":0, \"s\":0.999, \"i\":0.001, \"r\":0} // initial values\nfor (t = 1; t <= tmax; t++) { // point per day\n// calculate x[t]\n    st = x[t-1].s\n    it = x[t-1].i\n    rt = x[t-1].r\n    for (k = 0; k < 1 / dt; k++) { // default = 10 steps per day\n        ds = - (beta * it * st) * dt\n        di = (beta * it * st - gamma * it) * dt\n        dr = gamma * it * dt\n        st = st + ds\n        it = it + di\n        rt = rt + dr\n    }\n    x[t] = {\"t\":t,\"s\":st, \"i\":it, \"r\":rt}\n}\nmsg.payload = x\nreturn msg","outputs":1,"noerr":0,"x":420,"y":340,"wires":[["f612cd4f.dea7e8"]]},{"id":"16683988.9f5186","type":"function","z":"4a86c698.78f808","name":"seir model","func":"let R0    = msg.payload.R0    // basic reproduction number\nlet D     = msg.payload.D     // contagious period (days)\nlet I     = msg.payload.I     // incubation period (days)\nif (D <= 0) {node.error(\"Contagious period must be greater than zero\",msg);return null}\n// if (D === 0) {node.error(\"Contagious period cannot be zero\",msg)}\nif (I <= 0) {node.error(\"Incubation period must be greater than zero\",msg);return null}\n//if (I === 0) {node.error(\"Incubation period cannot be zero\",msg)}\nlet tmax  = flow.get('duration2') || 90   // calculation period (days)\n// let tmax = msg.payload.tmax   // calculation period (days)\nlet dt = 0.1 // days\n// if (D === 0) {node.error(\"Contagious period cannot be zero\",msg)}\nlet gamma = 1 / D\n// f (I === 0) {node.error(\"Incubation period cannot be zero\",msg)}\nlet delta = 1 / I\nlet beta = R0 * gamma\nlet x = []\nx[0] = {\"t\":0, \"s\":0.999, \"e\":0, \"i\":0.001, \"r\":0} // initial values\nfor (t = 1; t <= tmax; t++) { // point per day\n// calculate x[t]\n    st = x[t-1].s\n    et = x[t-1].e\n    it = x[t-1].i\n    rt = x[t-1].r\n    for (k = 0; k < 1 / dt; k++) { // default = 10 steps per day\n        ds = - (beta * it * st) * dt\n        de = (beta * it * st - delta * et) * dt\n        di = (delta * et - gamma * it) * dt\n        dr = gamma * it * dt\n        st = st + ds\n        it = it + di\n        et = et + de\n        rt = rt + dr\n    }\n    x[t] = {\"t\":t,\"s\":st, \"e\":et, \"i\":it, \"r\":rt}\n}\nmsg.payload = x\nreturn msg\n","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["e40cbf9c.2ddc58"]]},{"id":"483fab88.15925c","type":"function","z":"4a86c698.78f808","name":"sird model","func":"let R0    = msg.payload.R0    // basic reproduction number\nlet D     = msg.payload.D     // contagious period (days)\nlet H     = msg.payload.H     // treatment time (days)\nlet alpha = msg.payload.alpha // fatality rate\nlet tmax  = flow.get('duration2') || 90   // calculation period (days)\nlet dt = 0.1 // computation step (days)\nif (D <= 0) {node.error(\"Contagious period must be greater than zero\",msg);return null}\nlet gamma = 1 / D\nif (H <= 0) {node.error(\"Treatment time must be greater than zero\",msg);return null}\nlet rho = 1 / H\nlet beta = R0 * gamma\nlet x = []\nx[0] = {\"t\":0, \"s\":0.999, \"i\":0.001, \"r\":0, \"d\":0} // ini_tial values\nfor (t = 1; t <= tmax; t++) { // point per day\n// calculate x[t]\n    s_t = x[t-1].s\n    i_t = x[t-1].i\n    r_t = x[t-1].r\n    d_t = x[t-1].d\n    for (k = 0; k < 1 / dt; k++) { // default = 10 s_teps per day\n        ds = - (beta * i_t * s_t) * dt\n        di = ((beta * i_t * s_t) - ((1 - alpha) * gamma * i_t) - (alpha * rho * i_t)) * dt\n        dr = ((1 - alpha) * gamma * i_t) * dt\n        dd = (alpha * rho * i_t) * dt\n        s_t = s_t + ds\n        i_t = i_t + di\n        r_t = r_t + dr\n        d_t = d_t + dd\n    }\n    x[t] = {\"t\":t,\"s\":s_t, \"i\":i_t, \"r\":r_t, \"d\":d_t}\n}\nmsg.payload = x\nreturn msg","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["650088fc.b3e5e8"]]},{"id":"73e44ebe.068ec","type":"function","z":"4a86c698.78f808","name":"seird model","func":"let R0    = msg.payload.R0    // basic reproduction number\nlet D     = msg.payload.D     // contagious period (days)\nlet I     = msg.payload.I     // incubation period (days)\nlet H     = msg.payload.H     // treatment time (days)\nlet alpha = msg.payload.alpha // fatality rate\nlet tmax  = flow.get('duration2') || 90   // calculation period (days)\nlet dt = 0.1 // days\nif (D <= 0) {node.error(\"Contagious period must be greater than zero\",msg);return null}\nlet gamma = 1 / D\nif (I <= 0) {node.error(\"Incubation period must be greater than zero\",msg);return null}\nlet delta = 1 / I\nlet beta = R0 * gamma\nif (H === 0) {node.error(\"Treatment time cannot be zero\",msg)}\nlet rho = 1 / H\nlet x = []\nx[0] = {\"t\":0, \"s\":0.999, \"e\":0, \"i\":0.001, \"r\":0, \"d\":0} // initial values\nfor (t = 1; t <= tmax; t++) { // point per day\n// calculate x[t]\n    st  = x[t-1].s\n    et  = x[t-1].e\n    it  = x[t-1].i\n    rt  = x[t-1].r\n    d_t = x[t-1].d\n    for (k = 0; k < 1 / dt; k++) { // default = 10 steps per day\n        ds = - (beta * it * st) * dt\n        de = (beta * it * st - delta * et) * dt\n        di = (delta * et - (1 - alpha) * gamma * it - alpha * rho * it) * dt\n        dr = (1 - alpha) * gamma * it * dt\n        dd = (alpha * rho * it) * dt\n        st = st + ds\n        it = it + di\n        et = et + de\n        rt = rt + dr\n        d_t = d_t + dd\n    }\n    x[t] = {\"t\":t,\"s\":st, \"e\":et, \"i\":it, \"r\":rt, \"d\":d_t}\n}\nmsg.payload = x\nreturn msg\n","outputs":1,"noerr":0,"x":430,"y":460,"wires":[["b1a7c84b.b329e8"]]},{"id":"f612cd4f.dea7e8","type":"function","z":"4a86c698.78f808","name":"sir chart prep","func":"let x = msg.payload\nlet t = []\nlet s = []\nlet i = []\nlet r = []\nlet n = []\n\nfor (j = 0; j < x.length; j++) {\nt[j] = x[j].t\ns[j] = x[j].s\ni[j] = x[j].i\nr[j] = x[j].r\n}\n\nmsg.payload = [{\n    \"series\": [\"susceptible\", \"exposed\", \"infectious\", \"recovered\", \"deceased\" ],\n    \"data\": [s, n, i, r, n],\n    \"labels\": t\n}]\nnode.send([]) // clear chart\nreturn msg\n","outputs":1,"noerr":0,"x":590,"y":340,"wires":[["21428ccf.e0462c"]]},{"id":"e40cbf9c.2ddc58","type":"function","z":"4a86c698.78f808","name":"seir chart prep","func":"let x = msg.payload\nlet t = []\nlet s = []\nlet e = []\nlet i = []\nlet r = []\nlet n = []\n\nfor (j = 0; j < x.length; j++) {\nt[j] = x[j].t\ns[j] = x[j].s\ne[j] = x[j].e\ni[j] = x[j].i\nr[j] = x[j].r\n}\n\nmsg.payload = [{\n    \"series\": [\"susceptible\", \"exposed\", \"infectious\", \"recovered\", \"deceased\" ],\n    \"data\": [s, e, i, r, n],\n    \"labels\": t\n}]\nnode.send([]) // clear chart\nreturn msg\n","outputs":1,"noerr":0,"x":600,"y":380,"wires":[["21428ccf.e0462c"]]},{"id":"650088fc.b3e5e8","type":"function","z":"4a86c698.78f808","name":"sird chart prep","func":"let x = msg.payload\nlet t = []\nlet s = []\nlet i = []\nlet r = []\nlet d = []\nlet n = []\n\nfor (j = 0; j < x.length; j++) {\nt[j] = x[j].t\ns[j] = x[j].s\ni[j] = x[j].i\nr[j] = x[j].r\nd[j] = x[j].d\n}\n\nmsg.payload = [{\n    \"series\": [\"susceptible\", \"exposed\", \"infectious\", \"recovered\", \"deceased\" ],\n    \"data\": [s, n, i, r, d],\n    \"labels\": t\n}]\nnode.send([]) // clear chart\nreturn msg\n","outputs":1,"noerr":0,"x":600,"y":420,"wires":[["21428ccf.e0462c"]]},{"id":"b1a7c84b.b329e8","type":"function","z":"4a86c698.78f808","name":"seird chart prep","func":"let x = msg.payload\nlet t = []\nlet s = []\nlet e = []\nlet i = []\nlet r = []\nlet d = []\n\nfor (j = 0; j < x.length; j++) {\nt[j] = x[j].t\ns[j] = x[j].s\ne[j] = x[j].e\ni[j] = x[j].i\nr[j] = x[j].r\nd[j] = x[j].d\n}\n\nmsg.payload = [{\n    \"series\": [\"susceptible\", \"exposed\", \"infectious\", \"recovered\", \"deceased\" ],\n    \"data\": [s, e, i, r, d],\n    \"labels\": t\n}]\n\nreturn msg\n","outputs":1,"noerr":0,"x":600,"y":460,"wires":[["21428ccf.e0462c"]]},{"id":"b9141021.102d","type":"ui_dropdown","z":"9de5bd35.7f56f8","name":"type","label":"Model","tooltip":"","place":"Select model","group":"f69ea373.653fd","order":1,"width":4,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"SIR","type":"str"},{"label":"","value":"SEIR","type":"str"},{"label":"","value":"SIRD","type":"str"},{"label":"","value":"SEIRD","type":"str"}],"payload":"","topic":"","x":90,"y":80,"wires":[["cf224e41.444d6"]]},{"id":"f87541b9.825a9","type":"ui_form","z":"9de5bd35.7f56f8","name":"parameters","label":"","group":"f69ea373.653fd","order":6,"width":"8","height":"8","options":[{"label":"Basic reproduction number (R0)","value":"R0","type":"number","required":true,"rows":null},{"label":"Incubation period (days)","value":"I","type":"number","required":false,"rows":null},{"label":"Contageous period (days)","value":"D","type":"number","required":true,"rows":null},{"label":"Treatment period (days)","value":"H","type":"number","required":false,"rows":null},{"label":"Fatality rate","value":"alpha","type":"number","required":false,"rows":null}],"formValue":{"R0":"","I":"","D":"","H":"","alpha":""},"payload":"","submit":"run","cancel":"clear","topic":"","x":90,"y":200,"wires":[["ae7d513c.bf2338"]]},{"id":"a516ac27.2f033","type":"ui_chart","z":"9de5bd35.7f56f8","name":"chart","group":"f69ea373.653fd","order":5,"width":"8","height":8,"label":"","chartType":"line","legend":"true","xformat":" ","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"2000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff9896","#d62728","#aec7e8","#9467bd","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":200,"wires":[[]]},{"id":"8d3a3287.9b9768","type":"ui_text_input","z":"9de5bd35.7f56f8","name":"duration","label":"Duration (days, default 90)","tooltip":"","group":"f69ea373.653fd","order":3,"width":4,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":420,"y":80,"wires":[["7e848834.b24b1"]]},{"id":"cf224e41.444d6","type":"change","z":"9de5bd35.7f56f8","name":"","rules":[{"t":"set","p":"type","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":80,"wires":[[]]},{"id":"7e848834.b24b1","type":"change","z":"9de5bd35.7f56f8","name":"","rules":[{"t":"set","p":"duration","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":80,"wires":[[]]},{"id":"74dcbf38.1c8f","type":"switch","z":"9de5bd35.7f56f8","name":"type","property":"type","propertyType":"flow","rules":[{"t":"eq","v":"SIR","vt":"str"},{"t":"eq","v":"SEIR","vt":"str"},{"t":"eq","v":"SIRD","vt":"str"},{"t":"eq","v":"SEIRD","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":200,"wires":[["ce8af022.8abd8"],["d57dec69.cb5f18"],["79667369.1411b4"],["40a6e8dd.a4ff6"]]},{"id":"ce8af022.8abd8","type":"function","z":"9de5bd35.7f56f8","name":"sir","func":"let R0    = msg.payload.R0  // basic reproduction number\n/*\nlet R1    = flow.get('R1'); // first intervention\nlet t1    = flow.get('t1') || Infinity\nlet R2    = flow.get('R2'); // second intervention\nlet t2    = flow.get('t2') || Infinity;\n*/\nlet t1 = msg.payload.interventions[0].day\nlet t2 = msg.payload.interventions[1].day\nlet R1 = msg.payload.interventions[0].R0\nlet R2 = msg.payload.interventions[1].R0\nlet D     = msg.payload.D   // contagious period (days)\nif (D <= 0) {node.error(\"Contagious period must be greater than zero\",msg);return null}\nlet tmax  = flow.get('duration') || 90   // calculation period (days)\nlet dt    = 0.1 // computation step (days)\nlet gamma = 1 / D\nvar beta\nlet x     = []\nx[0] = {\"t\":0, \"s\":0.999, \"i\":0.001, \"r\":0} // initial values\nfor (t = 1; t <= tmax; t++) { // point per day\n    beta = r0(t) * gamma // calculate x[t]\n    st = x[t-1].s\n    it = x[t-1].i\n    rt = x[t-1].r\n    for (k = 0; k < 1 / dt; k++) { // default = 10 steps per day\n        ds = - (beta * it * st) * dt \n        di = (beta * it * st - gamma * it) * dt\n        dr = gamma * it * dt\n        st = st + ds\n        it = it + di\n        rt = rt + dr\n    }\n    x[t] = {\"t\":t,\"s\":st, \"i\":it, \"r\":rt}\n}\nmsg.payload = x\nreturn msg\n\nfunction r0(t) {\n    if (t <= t1) {return R0}\n    else if (t <= t2){return R1}\n    else {return R2}\n}","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["cdeddb.dff8a228"]]},{"id":"cdeddb.dff8a228","type":"function","z":"9de5bd35.7f56f8","name":"sir chart","func":"let x = msg.payload\nlet t = []\nlet s = []\nlet i = []\nlet r = []\nlet n = []\n\nfor (j = 0; j < x.length; j++) {\nt[j] = x[j].t\ns[j] = x[j].s\ni[j] = x[j].i\nr[j] = x[j].r\n}\n\nmsg.payload = [{\n    \"series\": [\"susceptible\", \"exposed\", \"infectious\", \"recovered\", \"deceased\" ],\n    \"data\": [s, n, i, r, n],\n    \"labels\": t\n}]\nnode.send([]) // clear chart\nreturn msg\n","outputs":1,"noerr":0,"x":660,"y":140,"wires":[["a516ac27.2f033"]]},{"id":"67620e2.00731f","type":"function","z":"9de5bd35.7f56f8","name":"seir chart","func":"let x = msg.payload\nlet t = []\nlet s = []\nlet e = []\nlet i = []\nlet r = []\nlet n = []\n\nfor (j = 0; j < x.length; j++) {\nt[j] = x[j].t\ns[j] = x[j].s\ne[j] = x[j].e\ni[j] = x[j].i\nr[j] = x[j].r\n}\n\nmsg.payload = [{\n    \"series\": [\"susceptible\", \"exposed\", \"infectious\", \"recovered\", \"deceased\" ],\n    \"data\": [s, e, i, r, n],\n    \"labels\": t\n}]\nnode.send([]) // clear chart\nreturn msg\n","outputs":1,"noerr":0,"x":660,"y":180,"wires":[["a516ac27.2f033"]]},{"id":"d57dec69.cb5f18","type":"function","z":"9de5bd35.7f56f8","name":"seir","func":"let R0    = msg.payload.R0        // basic reproduction number\nlet R1    = flow.get('R1')        // first intervention\nlet t1    = flow.get('t1') || Infinity\nlet R2    = flow.get('R2')        // second intervention\nlet t2    = flow.get('t2') || Infinity\nlet D     = msg.payload.D         // contagious period (days)\nlet I     = msg.payload.I         // incubation period (days)\nif (D <= 0) {node.error(\"Contagious period must be greater than zero\",msg);return null}\nif (I <= 0) {node.error(\"Incubation period must be greater than zero\",msg);return null}\nlet tmax  = flow.get('duration') || 90   // calculation period (days)\nlet dt = 0.1 // days\nlet gamma = 1 / D\nlet delta = 1 / I\n// let beta = R0 * gamma\nlet x = []\nx[0] = {\"t\":0, \"s\":0.999, \"e\":0, \"i\":0.001, \"r\":0} // initial values\nfor (t = 1; t <= tmax; t++) { // point per day\n    beta = r0(t) * gamma // calculate x[t]\n    st = x[t-1].s\n    et = x[t-1].e\n    it = x[t-1].i\n    rt = x[t-1].r\n    for (k = 0; k < 1 / dt; k++) { // default = 10 steps per day\n        ds = - (beta * it * st) * dt\n        de = (beta * it * st - delta * et) * dt\n        di = (delta * et - gamma * it) * dt\n        dr = gamma * it * dt\n        st = st + ds\n        it = it + di\n        et = et + de\n        rt = rt + dr\n    }\n    x[t] = {\"t\":t,\"s\":st, \"e\":et, \"i\":it, \"r\":rt}\n}\nmsg.payload = x\nreturn msg\n\nfunction r0(t) {\n    if (t <= t1) {return R0}\n    else if (t <= t2){return R1}\n    else {return R2}\n}\n","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["67620e2.00731f"]]},{"id":"40a6e8dd.a4ff6","type":"function","z":"9de5bd35.7f56f8","name":"seird","func":"let R0    = msg.payload.R0    // basic reproduction number\nlet R1    = flow.get('R1')    // first intervention\nlet t1    = flow.get('t1') || Infinity\nlet R2    = flow.get('R2')    // second intervention\nlet t2    = flow.get('t2') || Infinity\nlet D     = msg.payload.D     // contagious period (days)\nlet I     = msg.payload.I     // incubation period (days)\nlet H     = msg.payload.H     // treatment time (days)\nlet alpha = msg.payload.alpha // fatality rate\nlet tmax  = flow.get('duration') || 90   // calculation period (days)\nlet dt = 0.1 // days\nif (D <= 0) {node.error(\"Contagious period must be greater than zero\",msg);return null}\nlet gamma = 1 / D\nif (I <= 0) {node.error(\"Incubation period must be greater than zero\",msg);return null}\nlet delta = 1 / I\nlet beta = R0 * gamma\nif (H <= 0) {node.error(\"Treatment period must be greater than zero\",msg);return null}\nlet rho = 1 / H\nlet x = []\nx[0] = {\"t\":0, \"s\":0.999, \"e\":0, \"i\":0.001, \"r\":0, \"d\":0} // initial values\nfor (t = 1; t <= tmax; t++) { // point per day\n    beta = r0(t) * gamma // calculate x[t]\n    st  = x[t-1].s\n    et  = x[t-1].e\n    it  = x[t-1].i\n    rt  = x[t-1].r\n    d_t = x[t-1].d\n    for (k = 0; k < 1 / dt; k++) { // default = 10 steps per day\n        ds = - (beta * it * st) * dt\n        de = (beta * it * st - delta * et) * dt\n        di = (delta * et - (1 - alpha) * gamma * it - alpha * rho * it) * dt\n        dr = (1 - alpha) * gamma * it * dt\n        dd = (alpha * rho * it) * dt\n        st = st + ds\n        it = it + di\n        et = et + de\n        rt = rt + dr\n        d_t = d_t + dd\n    }\n    x[t] = {\"t\":t,\"s\":st, \"e\":et, \"i\":it, \"r\":rt, \"d\":d_t}\n}\nmsg.payload = x\nreturn msg\n\nfunction r0(t) {\n    if (t <= t1) {return R0}\n    else if (t <= t2){return R1}\n    else {return R2}\n}","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["e9bccab1.b6504"]]},{"id":"79667369.1411b4","type":"function","z":"9de5bd35.7f56f8","name":"sird","func":"let R0    = msg.payload.R0    // basic reproduction number\nlet R1    = flow.get('R1')    // first intervention\nlet t1    = flow.get('t1') || Infinity\nlet R2    = flow.get('R2')    // second intervention\nlet t2    = flow.get('t2') || Infinity\nlet D     = msg.payload.D     // contagious period (days)\nlet H     = msg.payload.H     // treatment time (days)\nlet alpha = msg.payload.alpha // fatality rate\nlet tmax  = flow.get('duration') || 90   // calculation period (days)\nlet dt = 0.1 // computation step (days)\nif (D <= 0) {node.error(\"Contagious period must be greater than zero\",msg);return null}\nlet gamma = 1 / D\nif (H <= 0) {node.error(\"Treatment time must be greater than zero\",msg);return null}\nlet rho = 1 / H\n// let beta = R0 * gamma\nlet x = []\nx[0] = {\"t\":0, \"s\":0.999, \"i\":0.001, \"r\":0, \"d\":0} // ini_tial values\nfor (t = 1; t <= tmax; t++) { // point per day\n    beta = r0(t) * gamma // calculate x[t]\n    s_t = x[t-1].s\n    i_t = x[t-1].i\n    r_t = x[t-1].r\n    d_t = x[t-1].d\n    for (k = 0; k < 1 / dt; k++) { // default = 10 s_teps per day\n        ds = - (beta * i_t * s_t) * dt\n        di = ((beta * i_t * s_t) - ((1 - alpha) * gamma * i_t) - (alpha * rho * i_t)) * dt\n        dr = ((1 - alpha) * gamma * i_t) * dt\n        dd = (alpha * rho * i_t) * dt\n        s_t = s_t + ds\n        i_t = i_t + di\n        r_t = r_t + dr\n        d_t = d_t + dd\n    }\n    x[t] = {\"t\":t,\"s\":s_t, \"i\":i_t, \"r\":r_t, \"d\":d_t}\n}\nmsg.payload = x\nreturn msg\n\nfunction r0(t) {\n    if (t <= t1) {return R0}\n    else if (t <= t2){return R1}\n    else {return R2}\n}","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["6346f16.3b5c61"]]},{"id":"e9bccab1.b6504","type":"function","z":"9de5bd35.7f56f8","name":"seird chart","func":"let x = msg.payload\nlet t = []\nlet s = []\nlet e = []\nlet i = []\nlet r = []\nlet d = []\n\nfor (j = 0; j < x.length; j++) {\nt[j] = x[j].t\ns[j] = x[j].s\ne[j] = x[j].e\ni[j] = x[j].i\nr[j] = x[j].r\nd[j] = x[j].d\n}\n\nmsg.payload = [{\n    \"series\": [\"susceptible\", \"exposed\", \"infectious\", \"recovered\", \"deceased\" ],\n    \"data\": [s, e, i, r, d],\n    \"labels\": t\n}]\n\nreturn msg\n","outputs":1,"noerr":0,"x":670,"y":260,"wires":[["a516ac27.2f033"]]},{"id":"6346f16.3b5c61","type":"function","z":"9de5bd35.7f56f8","name":"sird chart","func":"let x = msg.payload\nlet t = []\nlet s = []\nlet i = []\nlet r = []\nlet d = []\nlet n = []\n\nfor (j = 0; j < x.length; j++) {\nt[j] = x[j].t\ns[j] = x[j].s\ni[j] = x[j].i\nr[j] = x[j].r\nd[j] = x[j].d\n}\n\nmsg.payload = [{\n    \"series\": [\"susceptible\", \"exposed\", \"infectious\", \"recovered\", \"deceased\" ],\n    \"data\": [s, n, i, r, d],\n    \"labels\": t\n}]\nnode.send([]) // clear chart\nreturn msg\n","outputs":1,"noerr":0,"x":660,"y":220,"wires":[["a516ac27.2f033"]]},{"id":"147ca70c.37bd91","type":"ui_numeric","z":"9de5bd35.7f56f8","name":"day1","label":"Day","tooltip":"","group":"dcc96b0d.cc15c","order":1,"width":"3","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":0,"max":"360","step":1,"x":250,"y":340,"wires":[["fb394bb1.52673"]]},{"id":"eb7e2b96.3440f8","type":"ui_numeric","z":"9de5bd35.7f56f8","name":"R1","label":"R0","tooltip":"","group":"dcc96b0d.cc15c","order":2,"width":"3","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":0,"max":"50","step":".1","x":250,"y":420,"wires":[["5d15d4e8.cc83d4"]]},{"id":"21995581.f662ba","type":"ui_numeric","z":"9de5bd35.7f56f8","name":"day2","label":"Day","tooltip":"","group":"dcc96b0d.cc15c","order":4,"width":"3","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":0,"max":"360","step":1,"x":670,"y":340,"wires":[["90345a5.01a4e28"]]},{"id":"ca6d2ced.0e1f68","type":"ui_numeric","z":"9de5bd35.7f56f8","name":"R2","label":"R0","tooltip":"","group":"dcc96b0d.cc15c","order":5,"width":"3","height":"1","wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":0,"max":"50","step":".1","x":670,"y":420,"wires":[["9f5cc168.983ef"]]},{"id":"fb394bb1.52673","type":"change","z":"9de5bd35.7f56f8","name":"flow.t1","rules":[{"t":"set","p":"t1","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"interventions[0]","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":340,"wires":[[]]},{"id":"90345a5.01a4e28","type":"change","z":"9de5bd35.7f56f8","name":"flow.t2","rules":[{"t":"set","p":"t2","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"interventions[1]","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":340,"wires":[[]]},{"id":"5d15d4e8.cc83d4","type":"change","z":"9de5bd35.7f56f8","name":"flow.R1","rules":[{"t":"set","p":"R1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":420,"wires":[[]]},{"id":"9f5cc168.983ef","type":"change","z":"9de5bd35.7f56f8","name":"","rules":[{"t":"set","p":"R2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":804,"y":420,"wires":[[]]},{"id":"dcb0ec3.3507c1","type":"catch","z":"9de5bd35.7f56f8","name":"param error","scope":["ce8af022.8abd8","d57dec69.cb5f18","40a6e8dd.a4ff6","79667369.1411b4","21995581.f662ba"],"uncaught":false,"x":110,"y":500,"wires":[["219871ee.8600c6"]]},{"id":"219871ee.8600c6","type":"change","z":"9de5bd35.7f56f8","name":"error message","rules":[{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":500,"wires":[["f427c3e1.3af098"]]},{"id":"f427c3e1.3af098","type":"ui_toast","z":"9de5bd35.7f56f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"dialog","x":430,"y":500,"wires":[[]]},{"id":"5735bda8.42823c","type":"ui_button","z":"9de5bd35.7f56f8","name":"button1","group":"dcc96b0d.cc15c","order":3,"width":"3","height":"1","passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":100,"y":380,"wires":[["147ca70c.37bd91","eb7e2b96.3440f8"]]},{"id":"1e5cf452.6a442c","type":"ui_button","z":"9de5bd35.7f56f8","name":"button2","group":"dcc96b0d.cc15c","order":6,"width":"3","height":"1","passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":520,"y":380,"wires":[["ca6d2ced.0e1f68","21995581.f662ba"]]},{"id":"ae7d513c.bf2338","type":"function","z":"9de5bd35.7f56f8","name":"interventions","func":"let t1 = flow.get('t1') || Infinity\nlet t2 = flow.get('t2') || Infinity\nlet R1 = flow.get('R1')\nlet R2 = flow.get('R2')\nlet interventions = [{\"day\":t1,\"R0\":R1}, {\"day\":t2,\"R0\":R2}]\ninterventions = interventions.sort(function(a,b){return a.day - b.day})\nmsg.payload.interventions = interventions\nreturn msg\n","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["74dcbf38.1c8f"]]}]